@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h4>
        <a href="https://www.cnblogs.com/zhaozhengyan/p/azure-devops-aliyun.html" target="_blank">
            https://www.cnblogs.com/zhaozhengyan/p/azure-devops-aliyun.html
        </a>
    </h4>
</div>
